<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body{background-color: rgb(229, 248, 248)};</style>
    <title>Add New User</title>
</head>
<body>
    <h2>Add New User Details</h2>
    <form method="post" action="">
        <label for="1">Enter User id : </label>
        <input type="text" name="id" id="1" placeholder="enter id"> <br><br>
        <label for="2">Enter Username : </label>
        <input type="text" name="username" id="2" placeholder="enter username"> <br><br>
        <label for="3">Enter User Email : </label>
        <input type="text" name="email" id="3" placeholder="enter email"> <br><br>
        <label for="4">Enter User Password : </label>
        <input type="password" name="password" id="4" placeholder="enter password">
        <button>Add Details</button>
    </form>
</body>
</html>