<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>form{display: inline-block}body{background-color: rgb(219, 245, 245)};</style>
    <title>Home Page</title>
</head>
<body>
    
    <h2>Total no. of Users : <%= count %></h2>
    <form method="get" action="/users/add"><button>Add New User</button></form>
    <form method="get" action="/users"><button>View Users</button></form>
</body>
</html>